<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true">

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${logfile.name}"/>
        <layout class="org.apache.log4j.xml.XMLLayout">
        </layout>
    </appender>

    <root>
	<level value="DEBUG"/>
        <appender-ref ref="fileAppender"/>
    </root>
</log4j:configuration>
